root.dir=C:/Users/sidd__000/workspace/iSearch/
dump.filename=five_entries.xml
tknizer.nthreads=1
tmp.dir=tmp/
accnt.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Accents
punct.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Punctuation
apos.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Apostrophe
hyph.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Hyphen
spch.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SpecialCharacters
space.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.WhiteSpace
date.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Dates
stwrds.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.StopWords
captl.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Capitalization
nmbrs.rule=edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Numbers
pretkn.rules=CAPITALIZATION,DATES,NUMBERS